*{
  font-family: 'Press Start 2P', cursive;
}


body { 
  background-image: url('img/ocean.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin:0;
  
}



header{
  width:100%;
  height:90px;
  margin:0;
  margin-bottom:30px;
}

h1{
  color: rgb(0, 51, 51);
  font-size:100px;
  text-align: center;
}

#gameBoard{
  display:grid;
  grid-template-columns:700px 700px;
  justify-content: center;
  justify-items: center;
}

#table{
  grid-area:1/1/ span 1/ span 1;
  align-self: center;
}

#battleField{

  width:100%;
  height:100%;
  margin:0 auto;
  border-collapse:collapse;
}

td{
  height:84px;
  width:84px;
}

.cell{
  height:84px;
  width:84px;
  background-color:transparent;
  border-color: rgb(0, 51, 51, 0.65);
  border-width:thin;
}

.cell:hover{
  background-color: rgb(0, 51, 51, 0.4);
}

.emptyCell{
  width:84px;
}


#panel{
  grid-area:1/ 2/ span 1/ span 1;
  text-align:center;
  background-color: rgb(0, 51, 51, 0.65);
  width:620px;
  height: 600px;
  align-self: center;
  margin-top: 18px;
}


#message{
  color:rgb(255, 187, 51, 0.9);
  font-size: 48px;
  height:20%;
  margin-top: 260px;
  margin-bottom: 100px;
}

#command{
  margin:auto;
}

#aim{
  color: rgb(0, 51, 51);
  border-color: rgb(0, 51, 51);
  background-color: rgb(0, 179, 179);
  width:50%;
  height:85px;
  font-size: 60px;
  margin-left: 5%;
  margin-bottom: 6%;
}

::placeholder{
  color: rgb(0, 51, 51);
  opacity:0.5;
}

#aim:hover{
  background-color:rgb(0, 140, 140);
}

#fire{
  color: rgb(0, 51, 51);
  border-color:rgb(0, 51, 51);
  background-color: rgb(0, 179, 179);
  width:30%;
  margin-right: 5%;
  margin-bottom: 6%;
  height:85px;
  font-size: 30px;
}
#fire:hover{
  background-color:rgb(0, 140, 140);
}
.hit{
  background-image:url('img/hit.jpg');
  background-size: cover;

}

.miss{
  background-image:url('img/miss.jpg');
  background-size: cover;
  opacity:0.7;
}

#form{
  display:flex;
  justify-content: space-around;
  height:20%;
  align-items:center;
}

.welcome{
  grid-area:1/1/ span 1/ span 2;
  height:100%;
  width:100%;
  background-color:rgb(255, 187, 51, 1);
  margin:0;
  border-style:groove;
  border-width: 10px;
  border-color: rgb(0, 51, 51);
  color:rgb(0, 51, 51);
  z-index:6;
  text-align: center;
  line-height: 50px;
}

h2{
  font-size: 40px;
}

#instructions{
  margin-top:50px;
  text-align:left;
  font-size: 25px;
  margin-left:100px;
}

#start{
  margin-top:80px;
  height:100px;
  width:35%;
  color:rgb(0, 51, 51);
  border-color:rgb(0, 51, 51);
  border: double;
  background-color:rgb(230, 184, 0);
  border-width:10px;
}

#start:hover{
  background-color:rgb(0, 51, 51);
  border-width: 8px;
  color:rgb(255, 187, 51, 1)

}

.invisible{
  visibility: hidden;
}

@media only screen and (max-width:1400px) {
  body{
  height: 1800px;
  }

  #table{
    margin-top:120px;
  }

  #gameBoard{
    display:grid;
    grid-template-columns:700px;
    grid-template-rows:600px 380px;
    justify-content: center;
    justify-items: center;
  }

  #panel{
    grid-area:2/ 1/ span 1/ span 1;
    height:500px;
    margin-top:600px;
    width:100vw;
  }

  #message{
    margin-top: 90px;
    margin-bottom: 0px;
    height:50%;
  }
  
  #command{
    margin:auto;
  }
  
  #aim{
    width:50%;
    height:85px;
    font-size: 60px;
    margin-left: 5%;
    margin-bottom: 8%;
  }
  
  #fire{
    width: 25%;
    margin-right: 10%;
    margin-bottom: 8%;
    height:85px;
    font-size: 30px;
  }

  #form{
    
    height:38%;
    
  }

  #command{
    margin-top:45px;
  }

  .welcome{
    grid-area:1/1/ span 2/ span 1;
    height:97%;
  }

  #start{
    margin-top:120px;
    height:100px;
    width:50%;
    color:rgb(0, 51, 51);
    border-color:rgb(0, 51, 51);
    border: double;
    background-color:rgb(230, 184, 0);
    border-width:10px;
  }
}

